body {

	margin: 0;
	padding: 0;
}

.container {
	width: 900px;
	margin: 10px auto;
	border: 5px solid black;
	border-radius: 5px;
	
}


.kotak {

	width: 100px;
	height: 100px;
	background-color: salmon;
	padding: 3px;
	transition: margin-left 3s, transform 3s 2s, background-color 3s 2s;
	font-size: 0;
	
}

.container:hover .kotak {

	transform: rotate(360deg);
	margin-left: 800px;
	background-color: teal;
	font-size: 15px;

}



